# Ignore R associated files
.Rproj.user
.Rhistory

# ignore produced vignettes
inst/doc/*
vignettes/*.html
vignettes/*.pdf

# ignore OS X Finder files
*.DS_Store

# ignore emacs backup files
*~

#Ignore packrat libraries
packrat/lib*/
#Ignore packrat sources
packrat/src/

# Ignore earlier copies of code
MATLAB/
original_rcode/
# ignore vim swap files
.swp

#Ignore output data
data/output/

#Ignore RCheck directory
..Rcheck/

#Ignore vim swap files
*.swp

#Ignore TEMP dir (for comparing to Reilly/Scott code
TEMP/
inst/doc
doc
Meta

#Cran submission
cran-comments.md
pmwg.Rcheck/
